$boxes: (
  narrow: 38%,
  superscope: 45%,
  half-square: 50%,
  widescreen: 56.25%,
  postal-card: 66.666666667%,
  landscape: 75%,
  wide-angle: 87.5%,
  square: 100%,
  portrait: 133%,
  photography: 150%
);
