// $clip: ("clip", "hidden");
// $overflow: "auto", "hidden", "visible", "scroll", $clip;

$overflow: (
  auto: auto,
  hidden: hidden,
  visible: visible,
  scroll: scroll,
  clip: (hidden, clip)
);
