$font-family: (
  heading: "Times Now, serif",
  body: "Basel Grotesk, sans-serif",
  mono: "SFMono-Regular, monospace"
);

$font-size: (
  base: 18px,
  12: 12px,
  14: 14px,
  15: 15px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  36: 36px,
  48: 48px,
);

$heading: (
  h1: 56px,
  h2: 48px,
  h3: 36px,
  h4: 24px,
  h5: 18px,
  h6: 16px
);

$font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;

$text-transform: lowercase, uppercase, capitalize, none, inherit;

$text-decoration: none, underline, inherit;

$text-align: left, right, center;

$font-style: normal, italic, oblique, inherit;

$line-height: (
  none: 1,
  base: 1.25,
  125: 1.25,
  150: 1.5,
  200: 2
);
