# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
bower_components
npm-debug.log
.DS_Store
yarn-error.log
node_modules
.vscode
dist/
vendor/
.webpack_cache
sass_vars.json

# OS files
.tm_properties
.DS_Store
.AppleDouble
.AppleTemp*
:2e*
._*
*~
.nfs*
