parameters:
  level: 6
  paths:
    - lib
    - functions.php
  ignoreErrors:
    - '#Magic constant __NAMESPACE__ is always empty in global namespace#'
    - '#^Call to static method get_menu\(\) on an unknown class Timber\.$#'
    - '#^Call to static method compile\(\) on an unknown class Timber\.$#'
includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
