html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scrollbar-gutter: stable;
}

html,
body {
  height: 100%;
}

body {
  --body-text-color: var(--color-primary);
  --body-bg-color: var(--color-white);

  color: var(--body-text-color);
  background-color: var(--body-bg-color);

  // used by js/utils/drag.js
  &.--js-disable-text-select { user-select: none; }
}

html.--js-scrollbar-hidden {
  overflow: hidden;

  &.--js-scrollbar-gutter-reset {
    --default-column-width: calc(( 100vw - var(--scrollbar-width) - ( var(--container-fluid-margin) * 2 ) - ( ( var(--default-column-count) - 1 ) * var(--default-column-gap) ) ) / var(--default-column-count) );

    scrollbar-gutter: unset;

    .site-header,
    .site-nav,
    .site-footer,
    [data-windmill="wrapper"] {
      width: calc(100vw - var(--scrollbar-width)) !important;
    }
  }
}
