html {
  --vh: 1vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

html:not(.has-scroll-init) body,
html.windmill-is-running body,
body.--scroll-disabled {
  overflow: hidden;
}

body.--js-site-nav-opened,
body.--js-site-search-opened {
  overflow: hidden;
}
