// reset <button> elements

button {
  border: none;
  background: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/// Button classes
///
/// @name .btn
///
/// @group modules

.btn {
  $self: &;

  touch-action: manipulation;

  &:focus { outline: none; }


  // CTA
  &.--cta {
    // default styles
    &:not([class*="d-"]) { display: flex; }
    //&:not([class*="position-"]) { position: relative; }

    // rollover
    @include hoverDevice {
      &:not(.pointer-events-none) {
        // styling only applied for button who can received hover events

        &:hover,
        &:focus,
        &:active {
          // do stuff here
        }
      }
    }

    // variations
    //&.--cta-inverted {}
  }


  // LINK
  &.--link {
    // default styles
    //&:not([class*="position-"]) { position: relative; }

    // rollover
    @include hoverDevice {
      &:not(.pointer-events-none) {
        // styling only applied for button who can received hover events

        &:hover,
        &:focus,
        &:active {
          // do stuff here
        }
      }
    }

    // variations
    //&.--link-inverted {}
  }
}

a.btn {
  text-decoration: none;
}
