.container-fluid {
  padding-left: var(--container-fluid-margin);
  padding-right: var(--container-fluid-margin);
}

.container-fluid-sm {
  padding-left: var(--container-fluid-sm-margin);
  padding-right: var(--container-fluid-sm-margin);
}
