$font-directory: "../fonts/";

// @font-face {
//   font-family: 'Madras';
//   src: url('#{$font-directory}MadrasRegular.woff2') format('woff2'),
//       url('#{$font-directory}MadrasRegular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: block;
// }

/* Basel Grotesk */
@font-face {
  font-family: 'Basel Grotesk';
  src: url('#{$font-directory}BaselGrotesk-Regular.woff2') format('woff2'),
      url('#{$font-directory}BaselGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Basel Grotesk';
  src: url('#{$font-directory}BaselGrotesk-Italic.woff2') format('woff2'),
      url('#{$font-directory}BaselGrotesk-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

/* Times Now */
@font-face {
  font-family: 'Times Now';
  src: url('#{$font-directory}TimesNow-Light.woff2') format('woff2'),
      url('#{$font-directory}TimesNow-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Times Now';
  src: url('#{$font-directory}TimesNow-LightItalic.woff2') format('woff2'),
      url('#{$font-directory}TimesNow-LightItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Times Now';
  src: url('#{$font-directory}TimesNow-SemiLight.woff2') format('woff2'),
      url('#{$font-directory}TimesNow-SemiLight.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Times Now';
  src: url('#{$font-directory}TimesNow-SemiLightItalic.woff2') format('woff2'),
      url('#{$font-directory}TimesNow-SemiLightItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}
