.textarea {
  display: block;
}

// Hide spin arrows from input[type="number"]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type="number"] { -moz-appearance: textfield; }
