/**
 * Minimal styling for Gravity Form
 * Intend to use as-is in every project
 */
.gform_wrapper {
  form {
    margin: 0;
  }

  .gform_body {
    .gform_fields {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .screen-reader-text {
      visibility: hidden;
      height: 0;
      width: 0;
      position: absolute;
    }

    // honeypot
    .gfield.gform_validation_container {
      position: absolute;
      visibility: hidden;
      left: -9999px;
      width: 1px;
      height: 1px;
      pointer-events: none;
    }
  }

  // on submit
  &.--submitting {
    cursor: wait;
  }
}
