@keyframes btnLinkOver {
  from {
    transform: translate3d(0%, 0, 0);
  }
  to {
    transform: translate3d(105%, 0, 0);
  }
}

@keyframes AccordionArrowDownEnter {
  0% {
    opacity: 0.0001;
    transform: translate3d(0, -100%, 0);
  }
  50% {
    opacity: 0.999;
  }
  100% {
    opacity: 0.999;
    transform: translate3d(0, 0%, 0);
  }
}
@keyframes AccordionArrowDownLeave {
  0% {
    opacity: 0.999;
    transform: translate3d(0, 0%, 0);
  }
  50% {
    opacity: 0.999;
  }
  100% {
    opacity: 0.0001;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes AccordionArrowUpEnter {
  0% {
    opacity: 0.0001;
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 0.999;
  }
  100% {
    opacity: 0.999;
    transform: translate3d(0, 0%, 0);
  }
}
@keyframes AccordionArrowUpLeave {
  0% {
    opacity: 0.999;
    transform: translate3d(0, 0%, 0);
  }
  50% {
    opacity: 0.999;
  }
  100% {
    opacity: 0.0001;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes AccordionContentOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes color {
  from { color: var(--color, currentColor); }
}
@keyframes fadeIn {
  from { opacity: 0; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes translate {
  from { translate: var(--tx, 0px) var(--ty, 0px); }
}
@keyframes scale {
  from { scale: var(--sx, 1) var(--sy, 1); }
}
@keyframes clipPath {
  from { clip-path: inset(var(--top, 0px) var(--right, 0px) var(--bottom, 0px) var(--left, 0px) round var(--radius, 0px)); }
  to { clip-path: inset(0px 0px 0px 0px round var(--radius, 0px)); }
}

@keyframes linkRedraw {
  from {
    background-size: 0% calc(100% - var(--bottom));
  }
  to {
    background-size: 100% calc(100% - var(--bottom));
  }
}
