@use "@mill3-sass-mixins/mq";

.mill3 {
  $self: &;

  height: 1lh;

  &:focus { outline: none; }

  &__label,
  &__credits {
    white-space: nowrap;
    transform: translateY(0lh);

    @include mq.motionNoPref {
      transition: transform 450ms cubic-bezier(0.215, 0.61, 0.355, 1); /* easeOutCubic */
    }
  }

  &:hover,
  &:focus,
  &:active {
    #{$self}__label,
    #{$self}__credits { transform: translateY(-1lh); }
  }
}
