/*
.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    //background: #D8D6D0;
    //width: 10px;
    //height: 10px;
  }
  .swiper-pagination-bullet-active {
    background: currentColor;
  }
}
*/
