@use '../mixins/wysiwyg';

.wysiwyg {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  @include wysiwyg.wysiwyg;

  .wp-caption {
    & > img {
      display: block;
      width: 100%;
      height: auto;
    }

    &-text {
      color: #3e3e3e;
      font-size: font-size(14);
      margin-top: spacer(20);
    }
  }

  .mejs-container {
    .mejs-controls {
      background: var(--color-black);
    }
  }

  .wp-video {
    max-width: none;

    .mejs-video {
      width: 100% !important;
      height: auto !important;
      min-width: auto !important;
    }
    .mejs-inner {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 0.5625%;
    }
    .mejs-mediaelement video {
      width: 100% !important;
      height: auto !important;
    }
  }
}
