@use "@mill3-sass-mixins/breakpoints";

.links-nav {
  $self: &;

  // LAYOUT MOBILE
  @include breakpoints.media-breakpoint-down(xs) {
    &.--layout-mobile-horizontal {
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }
    &.--layout-mobile-vertical {
      flex-direction: column;

      #{$self}__link.--link {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  // LAYOUT
  @include breakpoints.media-breakpoint-up(md) {
    &.--layout-horizontal {
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }
    &.--layout-vertical {
      flex-direction: column;

      #{$self}__link.--link {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
