@use "@mill3-sass-mixins/breakpoints";

.lottie {
  --ratio: 1;
  --ratio-mobile: 1;

  aspect-ratio: var(--ratio-mobile);

  @include breakpoints.media-breakpoint-up(lg) {
    aspect-ratio: var(--ratio);
  }

  canvas, svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
