@use "@mill3-sass-mixins/breakpoints";

.sharing {
  $self: &;

  &__list {
    li {
      &:not(:first-child) {
        margin-left: 10px;

        @include breakpoints.media-breakpoint-up(lg) {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
  &__copyMessage {
    white-space: nowrap;
    opacity: 0;

    &[aria-hidden="false"] {
      opacity: 1;
      transition: opacity 450ms linear;
    }
  }
}
