@keyframes tickerText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.text-ticker {
  white-space: nowrap;

  // ANIMATION MODE
  &.--mode-css {
    .text-ticker__text {
      animation-name: tickerText;
      animation-duration: 15s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @include inView {
      .text-ticker__text {
        animation-play-state: paused;
      }

      &.is-inview {
        .text-ticker__text {
          animation-play-state: running;
        }
      }
    }
  }
  &.--mode-js {
    .text-ticker__text {
      animation: none;
      will-change: transform;
    }
  }

  // DIRECTION
  &.--mode-css.--direction-right {
    .text-ticker__text {
      animation-direction: reverse;
    }
  }
}
