@use "@mill3-sass-vars/easings";

// ***************** //
// SLIDE IN BY WORDS
// ***************** //
//
// Description: Each letters slide from bottom to top individually, staggered by word index.
//
// How to use
//  - Required:
//    - Add [data-text-animation="slidein-by-words"], [data-scroll] and [data-splitting] attributes to your text element.
//  - Optional:
//    - Add [data-scroll-target="#MY_TARGET"] and [data-scroll-offset] attributes to control when in-view will be triggered.
//
// Configuration
//  - You can customize animation by overriding css variables of this module.
//  - If you want your customization to be applied to all [slidein-by-words] animations, edit the css variables below.
//  - If you want to customize a [slidein-by-words] animation from a particular module, do something like this:
//
//    .my-custom-module {
//       &__title {
//          --delay: 100ms;
//          --duration: 1250ms;
//          --easing: #{$easeInOutCubic};
//          --stagger: 250ms;
//       }
//    }
//
[data-text-animation="slidein-by-words"] {
  --duration: 800ms;
  --delay: 0ms;
  --stagger: 150ms;
  --easing: #{easings.$easeOutCubic};

  .word {
    --word-index: 0;

    // box-shadow: inset 0px 0px 0px 1px red; // useful for debugging
    clip-path: inset(0px 0px 0px 0px);
  }
  .wordText {
    display: inline-block;
    transform: translate3d(0px, 1em, 0px);
  }

  &.is-inview {
    .wordText {
      transform: translate3d(0px, 0em, 0px);
      transition: transform var(--duration) calc(var(--word-index) * var(--stagger) + var(--delay)) var(--easing);
    }
  }
}
// ***************** //
