.pb-row-page-section {
  $self: &;

  &.--effect-stacked {
    & > .pb-rows {
      position: relative;

      & > .pb-row-wrapper {
        position: sticky;
        top: 0;
        left: 0;
      }
    }
  }
}
