.pb-row-text-simple {
  $self: &;
  --delay: 0ms;

  &__title {
    max-width: 610px;
  }

  // WIDTHS
  &.--width-small {
    --width: 520px;
  }
  &.--width-medium {
    --width: 620px;
  }
  &.--width-default {
    --width: 720px;
  }
  &.--width-large {
    --width: 920px;
  }

  // set WIDTH var() on content
  #{$self}__content {
    @include media-breakpoint-up(md) {
      width: var(--width);
    }
  }

  // POSITIONS
  &.--position-center {
    flex-direction: column;
    grid-gap: spacer(4);
    @include media-breakpoint-up(md) {
      align-items: center;
    }
    #{$self}__header {
      @include media-breakpoint-up(md) {
        width: var(--width);
      }
    }
  }

  &.--position-left {
    display: grid;
    @include media-breakpoint-up(lg) {
      grid-template-columns: auto auto;
      justify-content: space-between;
      #{$self}__header {
        grid-column: 2;
        grid-row: 1;
      }
      #{$self}__content {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }

  &.--position-right {
    display: grid;
    @include media-breakpoint-up(lg) {
      grid-template-columns: auto auto;
      justify-content: space-between;
      #{$self}__header {
        grid-column: 1;
        grid-row: 1;
      }
      #{$self}__content {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  @include inView {
    #{$self}__title,
    #{$self}__text {
    }
    &.is-inview {
      #{$self}__title,
      #{$self}__text {
      }
    }
  }
}
