@use "@sass_mixins/breakpoints";
@use "@sass_mixins/spacers";

.pb-row-wrapper {
  $self: &;

  --zindex: 0;
  z-index: var(--zindex);

  // negative margins
  @include breakpoints.media-breakpoint-down(md) {
    &.mt--5 { margin-top: #{spacers.spacer(5) * -1}; }
    &.mt--10 { margin-top: #{spacers.spacer(10) * -1}; }
    &.mt--20 { margin-top: #{spacers.spacer(20) * -1}; }
    &.mt--30 { margin-top: #{spacers.spacer(30) * -1}; }
    &.mt--40 { margin-top: #{spacers.spacer(40) * -1}; }
    &.mt--50 { margin-top: #{spacers.spacer(50) * -1}; }
    &.mt--60 { margin-top: #{spacers.spacer(60) * -1}; }
    &.mt--70 { margin-top: #{spacers.spacer(70) * -1}; }
    &.mt--80 { margin-top: #{spacers.spacer(80) * -1}; }
    &.mt--90 { margin-top: #{spacers.spacer(90) * -1}; }
    &.mt--100 { margin-top: #{spacers.spacer(100) * -1}; }
    &.mt--110 { margin-top: #{spacers.spacer(110) * -1}; }
    &.mt--120 { margin-top: #{spacers.spacer(120) * -1}; }
    &.mt--130 { margin-top: #{spacers.spacer(130) * -1}; }
    &.mt--140 { margin-top: #{spacers.spacer(140) * -1}; }
    &.mt--150 { margin-top: #{spacers.spacer(150) * -1}; }
    &.mt--160 { margin-top: #{spacers.spacer(160) * -1}; }
    &.mt--170 { margin-top: #{spacers.spacer(170) * -1}; }
    &.mt--180 { margin-top: #{spacers.spacer(180) * -1}; }
    &.mt--190 { margin-top: #{spacers.spacer(190) * -1}; }
    &.mt--200 { margin-top: #{spacers.spacer(200) * -1}; }

    &.mb--5 { margin-bottom: #{spacers.spacer(5) * -1}; }
    &.mb--10 { margin-bottom: #{spacers.spacer(10) * -1}; }
    &.mb--20 { margin-bottom: #{spacers.spacer(20) * -1}; }
    &.mb--30 { margin-bottom: #{spacers.spacer(30) * -1}; }
    &.mb--40 { margin-bottom: #{spacers.spacer(40) * -1}; }
    &.mb--50 { margin-bottom: #{spacers.spacer(50) * -1}; }
    &.mb--60 { margin-bottom: #{spacers.spacer(60) * -1}; }
    &.mb--70 { margin-bottom: #{spacers.spacer(70) * -1}; }
    &.mb--80 { margin-bottom: #{spacers.spacer(80) * -1}; }
    &.mb--90 { margin-bottom: #{spacers.spacer(90) * -1}; }
    &.mb--100 { margin-bottom: #{spacers.spacer(100) * -1}; }
    &.mb--110 { margin-bottom: #{spacers.spacer(110) * -1}; }
    &.mb--120 { margin-bottom: #{spacers.spacer(120) * -1}; }
    &.mb--130 { margin-bottom: #{spacers.spacer(130) * -1}; }
    &.mb--140 { margin-bottom: #{spacers.spacer(140) * -1}; }
    &.mb--150 { margin-bottom: #{spacers.spacer(150) * -1}; }
    &.mb--160 { margin-bottom: #{spacers.spacer(160) * -1}; }
    &.mb--170 { margin-bottom: #{spacers.spacer(170) * -1}; }
    &.mb--180 { margin-bottom: #{spacers.spacer(180) * -1}; }
    &.mb--190 { margin-bottom: #{spacers.spacer(190) * -1}; }
    &.mb--200 { margin-bottom: #{spacers.spacer(200) * -1}; }
  }
  @include breakpoints.media-breakpoint-up(lg) {
    &.mt-lg--5 { margin-top: #{spacers.spacer(5) * -1}; }
    &.mt-lg--10 { margin-top: #{spacers.spacer(10) * -1}; }
    &.mt-lg--20 { margin-top: #{spacers.spacer(20) * -1}; }
    &.mt-lg--30 { margin-top: #{spacers.spacer(30) * -1}; }
    &.mt-lg--40 { margin-top: #{spacers.spacer(40) * -1}; }
    &.mt-lg--50 { margin-top: #{spacers.spacer(50) * -1}; }
    &.mt-lg--60 { margin-top: #{spacers.spacer(60) * -1}; }
    &.mt-lg--70 { margin-top: #{spacers.spacer(70) * -1}; }
    &.mt-lg--80 { margin-top: #{spacers.spacer(80) * -1}; }
    &.mt-lg--90 { margin-top: #{spacers.spacer(90) * -1}; }
    &.mt-lg--100 { margin-top: #{spacers.spacer(100) * -1}; }
    &.mt-lg--110 { margin-top: #{spacers.spacer(110) * -1}; }
    &.mt-lg--120 { margin-top: #{spacers.spacer(120) * -1}; }
    &.mt-lg--130 { margin-top: #{spacers.spacer(130) * -1}; }
    &.mt-lg--140 { margin-top: #{spacers.spacer(140) * -1}; }
    &.mt-lg--150 { margin-top: #{spacers.spacer(150) * -1}; }
    &.mt-lg--160 { margin-top: #{spacers.spacer(160) * -1}; }
    &.mt-lg--170 { margin-top: #{spacers.spacer(170) * -1}; }
    &.mt-lg--180 { margin-top: #{spacers.spacer(180) * -1}; }
    &.mt-lg--190 { margin-top: #{spacers.spacer(190) * -1}; }
    &.mt-lg--200 { margin-top: #{spacers.spacer(200) * -1}; }

    &.mb-lg--5 { margin-bottom: #{spacers.spacer(5) * -1}; }
    &.mb-lg--10 { margin-bottom: #{spacers.spacer(10) * -1}; }
    &.mb-lg--20 { margin-bottom: #{spacers.spacer(20) * -1}; }
    &.mb-lg--30 { margin-bottom: #{spacers.spacer(30) * -1}; }
    &.mb-lg--40 { margin-bottom: #{spacers.spacer(40) * -1}; }
    &.mb-lg--50 { margin-bottom: #{spacers.spacer(50) * -1}; }
    &.mb-lg--60 { margin-bottom: #{spacers.spacer(60) * -1}; }
    &.mb-lg--70 { margin-bottom: #{spacers.spacer(70) * -1}; }
    &.mb-lg--80 { margin-bottom: #{spacers.spacer(80) * -1}; }
    &.mb-lg--90 { margin-bottom: #{spacers.spacer(90) * -1}; }
    &.mb-lg--100 { margin-bottom: #{spacers.spacer(100) * -1}; }
    &.mb-lg--110 { margin-bottom: #{spacers.spacer(110) * -1}; }
    &.mb-lg--120 { margin-bottom: #{spacers.spacer(120) * -1}; }
    &.mb-lg--130 { margin-bottom: #{spacers.spacer(130) * -1}; }
    &.mb-lg--140 { margin-bottom: #{spacers.spacer(140) * -1}; }
    &.mb-lg--150 { margin-bottom: #{spacers.spacer(150) * -1}; }
    &.mb-lg--160 { margin-bottom: #{spacers.spacer(160) * -1}; }
    &.mb-lg--170 { margin-bottom: #{spacers.spacer(170) * -1}; }
    &.mb-lg--180 { margin-bottom: #{spacers.spacer(180) * -1}; }
    &.mb-lg--190 { margin-bottom: #{spacers.spacer(190) * -1}; }
    &.mb-lg--200 { margin-bottom: #{spacers.spacer(200) * -1}; }
  }

  // if row has custom background-color
  &.--has-bg {
    background-color: var(--bg-color);
  }

  // if row has custom text-color
  &.--has-text-color {
    color: var(--text-color);
  }

  // SMOOTH SCROLL ONLY: reveal effect
  html.has-scroll-smooth &[data-pb-row-wrapper-reveal] {
    overflow: hidden;
    overflow: clip;
  }

  // SMOOTH SCROLL ONLY: automatic height calculation in JS
  /*
  html.has-scroll-smooth & {
    --row-height: auto;
    box-sizing: content-box;
    height: var(--row-height);
  }
  */

  // SMOOTH SCROLL ONLY: fix 1px glitch between two .pb-row-wrapper with custom background-color
  /*
  html.has-scroll-smooth & {
    // for tablet (portrait) and smaller
    @include breakpoints.media-breakpoint-down(md) {
      // if .pb-row-wrapper (with custom background-color), without margin-bottom
      // followed with another .pb-row-wrapper (with custom background-color) without margin-top
      &.--has-bg.mb-0 + #{$self}.--has-bg.mt-0 {
        margin-top: -1px;
      }
    }

    // for tablet (landscape) and bigger
    @include breakpoints.media-breakpoint-up(lg) {
      // if .pb-row-wrapper (with custom backround-color), without margin-bottom
      // followed with another .pb-row-wrapper (with custom background-color) without margin-top
      &.--has-bg.mb-lg-0 + #{$self}.--has-bg.mt-lg-0 {
        margin-top: -1px;
      }
    }
  }
  */
}
