@use "@mill3-sass-mixins/breakpoints";
@use "@mixins/animations";

.pb-row-accordions {
  $self: &;

  &__title,
  &__text,
  &__accordions {
    width: 100%;
  }

  &__title { --self-delay: 0ms; }
  &__text { --self-delay: 100ms; }
  &__accordions { --delay: calc(var(--module-delay) + 150ms); }
  

  // POSITION
  &.--position-center {
    #{$self}__title,
    #{$self}__text,
    #{$self}__accordions {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.--position-right {
    #{$self}__title,
    #{$self}__text,
    #{$self}__accordions {
      margin-left: auto;
    }
  }

  // WIDTH
  &.--width-small {
    @include breakpoints.media-breakpoint-up(md) {
      #{$self}__title,
      #{$self}__text,
      #{$self}__accordions {
        width: 520px;
      }
    }
  }
  &.--width-medium {
    @include breakpoints.media-breakpoint-up(md) {
      #{$self}__title,
      #{$self}__text,
      #{$self}__accordions {
        width: 620px;
      }
    }
  }
  &.--width-default {
    @include breakpoints.media-breakpoint-up(md) {
      #{$self}__title,
      #{$self}__text,
      #{$self}__accordions {
        width: 720px;
      }
    }
  }
  &.--width-large {
    @include breakpoints.media-breakpoint-up(lg) {
      #{$self}__title,
      #{$self}__text,
      #{$self}__accordions {
        width: 920px;
      }
    }
  }

  // IN-VIEW ANIMATIONS
  @include inView {
    #{$self}__title,
    #{$self}__text { @include animations.slideFadeUpInitial; }    

    &.is-inview {
      #{$self}__title,
      #{$self}__text {
        @include animations.slideFadeUp($delay: calc(var(--self-delay) + var(--module-delay)));
      }
    }
  }
}
