.pb-row-text-simple {
  $self: &;

  // WIDTHS
  &.--width-small {
    #{$self}__header,
    #{$self}__content {
      max-width: 520px;
    }
  }
  &.--width-medium {
    #{$self}__header,
    #{$self}__content {
      max-width: 620px;
    }
  }
  &.--width-default {
    #{$self}__header,
    #{$self}__content {
      max-width: 720px;
    }
  }
  &.--width-large {
    #{$self}__header,
    #{$self}__content {
      max-width: 920px;
    }
  }

  // POSITIONS
  &.--position-center {
    #{$self}__header,
    #{$self}__content {
      margin-left: auto;
      margin-right: auto;
    }
  }
  //&.--position-left {}
  &.--position-right {
    #{$self}__header,
    #{$self}__content {
      margin-left: auto;
    }
  }
}
