@use "@mill3-sass-vars/easings";

@mixin ticker($duration: 30s, $direction: normal) {
  animation-name: ticker;
  animation-duration: $duration;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-direction: $direction;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}


// FADE IN
@mixin fadeInitial(){
  opacity: 0.0001;
}
@mixin fade($duration: 300ms, $delay: 0ms){
  opacity: 1.0001;
  transition: opacity $duration $delay linear;
}

// SLIDE VERTICALLY + HORIZONTALLY (x & y axis)
@mixin slideInitial($x: 0px, $y: 90px) {
  translate: $x $y;
}
@mixin slide($duration: 1s, $delay: 0ms, $easing: easings.$easeOutCubic) {
  translate: 0px 0px;
  transition: translate $duration $delay $easing;
}


// SLIDE VERTICALLY + FADE IN
@mixin slideFadeInitial($x: 0px, $y: 90px) {
  opacity: 0.0001;
  translate: $x $y;
}
@mixin slideFade($duration: 1s, $delay: 0ms, $easing: easings.$easeOutCubic, $opacityDuration: 300ms) {
  opacity: 1.0001;
  translate: 0px 0px;
  transition: opacity $opacityDuration $delay linear, translate $duration $delay easings.$easeOutCubic;
}
