@use "@mill3-sass-mixins/mq";
@use "@mill3-sass-vars/easings";

@mixin underlineDrawing($height: 1px, $bottom: 0px) {
  @include underlineDrawingBase($height, $bottom);

  &:hover,
  &:active {
    @include underlineDrawingHover();
  }
}

@mixin underlineDrawingBase($height: 1px, $bottom: 0px) {
  --bottom: #{$bottom};
  --height: #{$height};

  text-decoration: none;
  // only on device with :hover state
  @include mq.hoverDevice {
    transition: background-size 0.5s easings.$easeOutCubic 0s;
    background-image: linear-gradient(transparent calc(100% - var(--height)), currentColor var(--height));
    background-repeat: no-repeat;
    background-size: 0% calc(100% - var(--bottom));
  }
}

@mixin underlineDrawingHover() {
  // only on device with :hover state
  @include mq.hoverDevice {
    background-size: 100% calc(100% - var(--bottom));
  }
}

@mixin linkRollover($rollover: true, $bottom: 0px, $height: 1px) {
  --bottom: #{$bottom};
  --height: #{$height};

  background-image: linear-gradient(transparent calc(100% - var(--height)), currentColor var(--height));
  background-repeat: no-repeat;
  background-size: 100% calc(100% - var(--bottom));
  background-position: top left;
  text-decoration: none;

  @include mq.hoverDevice {
    @if $rollover {
      &:hover,
      &:focus,
      &:active {
        @include linkRolloverHover;
      }
    }
  }
}

@mixin linkRolloverHover() {
  animation: linkRedraw 750ms cubic-bezier(.645,.045,.355,1) both;
}

