@use "@mill3-sass-mixins/mq";
@use "@mill3-sass-vars/easings";

@mixin underlineDrawing($height: 1px, $bottom: 0) {
  @include underlineDrawingBase($height, $bottom);

  &:hover,
  &:active {
    @include underlineDrawingHover($height, $bottom);
  }
}

@mixin underlineDrawingBase($height: 1px, $bottom: 0) {
  text-decoration: none;
  // only on device with :hover state
  @include mq.hoverDevice {
    transition: background-size 0.5s easings.$easeOutCubic 0s;
    background-image: linear-gradient(transparent calc(100% - #{$height}), currentColor $height);
    background-repeat: no-repeat;
    background-size: 0% calc(100% - #{$height + $bottom});
  }
}

@mixin underlineDrawingHover($height: 1px, $bottom: 0) {
  // only on device with :hover state
  @include mq.hoverDevice {
    background-size: 100% calc(100% - #{$height + $bottom});
  }
}

@mixin linkRollover($rollover: true) {
  $bottom: 0em;
  $height: 0.07em;

  @include mq.hoverDevice {
    background-image: linear-gradient(transparent calc(100% - #{$height}), currentColor #{$height});
    background-repeat: no-repeat;
    background-size: 100% calc(100% - #{$height + $bottom});
    text-decoration: none;

    @if $rollover {
      &:hover,
      &:focus,
      &:active {
        @include linkRolloverHover;
      }
    }
  }
}

@mixin linkRolloverHover() {
  animation: linkRedraw 750ms cubic-bezier(.645,.045,.355,1) both;
}

