@function vw-spacer($key, $viewport: 414) {
  $value: map-get($spacers, $key);

  @if not $value {
    @error "spacer `#{$key}` not found in `#{$spacers}`";
  } @else {
    $value: strip-unit($value);
    $value: $value / $viewport * 100;
  }

  @return vw($value);
}

@function vw-spacer-md($key) {
  @return vw-spacer($key, 768);
}

@function vw-spacer-lg($key) {
  @return vw-spacer($key, 1440);
}

@function vw-value($value) {
  @return vw($value / 414 * 100);
}

@function vw-md($value) {
  @return vw($value / 768 * 100);
}

@function vw-lg($value) {
  @return vw($value / 1440px * 100);
}
