@use "../vars/grid" as grid;
@use "../vars/spacers" as spacers;
@use "../vars/breakpoints" as breakpoints;
@use "../mixins/breakpoints" as bp;
@use "../mixins/variants";

///
/// @group grid
///

/// Set grid template columns
/// Set grid col-start / col-end
///
/// Check [theme.js](https://github.com/Mill3/mill3-packages/blob/master/packages/system-ui-sass/theme.js) for amount of columns.
///
/// @name .grid-column-[value]
/// @name .col-start-[value]
/// @name .col-end-[value]
/// @name .col-full
///
/// @example .grid-column-1, .grid-column-md-3, .col-start-1, .col-end-5

// note: keep this line below for SassDoc
// .grid-column-[size] { ... }
// .col-start-[size] { ... }
// .col-end-[size] { ... }
// .col-full { ... }

// @include generate-variants(
//   "grid-template-columns",
//   $grid-columns,
//   "grid-column"
// );

@each $breakpoint in map-keys(breakpoints.$grid-breakpoints) {
  @include bp.media-breakpoint-up($breakpoint) {
    $infix: bp.breakpoint-infix($breakpoint, breakpoints.$grid-breakpoints);

    @for $i from 1 through grid.$grid-columns {
      .grid-column#{$infix}-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
      }

      .col-start#{$infix}-#{$i} {
        grid-column-start: #{$i};
      }
      .col-start-span#{$infix}-#{$i} {
        grid-column-start: span #{$i};
      }

      .col-end#{$infix}-#{$i} {
        grid-column-end: #{$i};
      }
      .col-end-span#{$infix}-#{$i} {
        grid-column-end: span #{$i};
      }
    }

    // col end to bounds
    .col-end#{$infix}-limit {
      grid-column-end: -1;
    }

    // full width
    .col-full#{$infix} {
      grid-column: 1 / -1;
    }
  }
}

/// Set grid gap
///
/// Check [theme.js](https://github.com/Mill3/mill3-packages/blob/master/packages/system-ui-sass/theme.js) for available values.
///
/// @see {mixin} generate-variants
///
/// @name .grid-gap-[value]
///
/// @example .grid-gap-4, .grid-gap-md-2

// note: keep this line below for SassDoc
// .grid-gap-[size] { ... }

@include variants.generate-variants("grid-gap", spacers.$spacers);
// @include variants.generate-variants("row-gap", spacers.$spacers, 'row-gap');
// @include variants.generate-variants("column-gap", spacers.$spacers, 'column-gap');


/// Set grid template rows
/// Set grid row-start / row-end
///
/// Check [theme.js](https://github.com/Mill3/mill3-packages/blob/master/packages/system-ui-sass/theme.js) for amount of rows.
///
/// @name .grid-row-[value]
/// @name .row-start-[value]
/// @name .row-end-[value]
/// @name .row-full
///
/// @example .grid-row-1, .grid-row-md-3, .row-start-1, .row-end-5

// note: keep this line below for SassDoc
// .grid-row-[size] { ... }
// .row-start-[size] { ... }
// .row-end-[size] { ... }
// .row-full { ... }
@each $breakpoint in map-keys(breakpoints.$grid-breakpoints) {
  @include bp.media-breakpoint-up($breakpoint) {
    $infix: bp.breakpoint-infix($breakpoint, breakpoints.$grid-breakpoints);

    @for $i from 1 through grid.$grid-rows {
      .grid-row#{$infix}-#{$i} {
        grid-template-rows: repeat($i, 1fr);
      }

      .row-start#{$infix}-#{$i} {
        grid-row-start: #{$i};
      }
      .row-start-span#{$infix}-#{$i} {
        grid-row-start: span #{$i};
      }

      .row-end#{$infix}-#{$i} {
        grid-row-end: #{$i};
      }
      .row-end-span#{$infix}-#{$i} {
        grid-row-end: span #{$i};
      }
    }

    // row end to bounds
    .row-end#{$infix}-limit {
      grid-row-end: -1;
    }

    // full width
    .row-full#{$infix} {
      grid-row: 1 / -1;
    }
  }
}
