@use "@mill3-sass-mixins/breakpoints";
@use "@mill3-sass-mixins/colors";
@use "@mill3-sass-vars/easings";

.site-super-promo {
  $self: &;

  background-color: transparent;
  border: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  transition: display 551ms allow-discrete, overlay 551ms allow-discrete;

  &::backdrop {
    background-color: colors.color("color-black");
    opacity: 0;
    transition: opacity 350ms 200ms linear;
  }


  &[open] {
    //display: grid;

    &::backdrop {
      opacity: 0.4;
      transition: opacity 450ms linear;

      @starting-style {
        opacity: 0;
      }
    }
  }
}
