@use "@mill3-sass-mixins/breakpoints";
@use "@mill3-sass-mixins/mq";
@use "@mill3-sass-vars/easings";

.site-header {
  $self: &;

  &__wrap {
    @include mq.motionNoPref {
      transition: opacity 200ms linear, color 0ms 200ms linear;
    }
  }

  // &__logo,
  // &__nav,
  // &__burger {
  //   transform: translate3d(0, 0px, 0);
  //   transition: transform 200ms easings.$easeOutQuad;
  // }

  &__nav {
    // top level menu
    & > ul {
      display: flex;
      gap: 20px;
    }
  }

  &__burger {
    width: 18px;
    height: 12px;

    > span {
      @include mq.motionNoPref {
        transition: transform 650ms easings.$easeInOutCubic;
      }

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: currentColor;

        @include mq.motionNoPref {
          transition: transform 450ms easings.$easeInOutCubic;
        }
      }

      &:nth-child(2) {
        hr {
          transform-origin: center;
          transition-delay: 250ms;
        }
      }
    }

    // WHEN SITE-NAV IS OPENED
    html.--js-site-nav-opened & {
      > span {
        &:first-child {
          transform: translateY(5.5px) rotate(135deg);
          transition-delay: 250ms;
        }
        &:nth-child(2) {
          &::before {
            transform: scaleX(0);
            transition-delay: 0ms;
          }
        }
        &:last-child {
          transform: translateY(-5.5px) rotate(225deg);
          transition-delay: 250ms;
        }
      }
    }
  }


  // HIDE SITE-HEADER WHEN PAGE HAS SCROLL DOWN ENOUGH AND IS SCROLLING DOWN
  body.--js-scroll-min.--js-scroll-down & {
    // fade out site-header
    &__wrap { opacity: 0.0001; }

    // disable click on UI
    &__logo,
    &__nav,
    &__burger {
      pointer-events: none;
    }
  }

  // SHOW SITE-HEADER WHEN PAGE HAS SCROLL DOWN ENOUGH AND IS SCROLLING UP
  body.--js-scroll-min.--js-scroll-up & {
    // fade in site-header
    &__wrap {
      opacity: 1.0001;
    }

    // enable click on UI
    &__logo,
    &__nav,
    &__burger {
      pointer-events: all;
    }
  }


  // WHEN SITE-NAV IS OPENED
  html.--js-site-nav-opened & {
    &__wrap {
      color: colorCurrent !important;
      opacity: 1 !important;
    }

    &__logo,
    &__nav,
    &__burger {
      // enable click on UI
      pointer-events: all !important;

      // expand site-header
      transform: translate3d(0, 0px, 0) !important;
    }
  }


  // SPACER
  &__spacer {
    height: var(--site-header-spacer-height);
  }
}
