.site-nav {
  $self: &;

  &__scroller {
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  &[aria-hidden="true"] {
    pointer-events: none;
    visibility: hidden;

    #{$self}__scroller {
      overflow-y: hidden;
    }
  }

  &__wrap {
    min-height: calc(100vh + 1px);
  }
}
