.site-nav {
  $self: &;

  height: calc(var(--vh) * 100);

  &__scroller {
    overflow-y: auto;
  }

  &[aria-hidden="true"] {
    pointer-events: none;
    visibility: hidden;

    #{$self}__scroller {
      overflow-y: hidden;
    }
  }

  &__wrap {
    min-height: calc((var(--vh) * 100) + 1px);
  }
}
