{% extends "base.twig" %}

{% block content %}
<section class="post-archives">

  <div class="post-archives__posts container-fluid " data-scroll-section>

    <ol class="list-none p-0 pt-lg-5 d-sm-grid grid-column-2 grid-gap-3 grid-gap-lg-6">
        {% for post in posts %}
        <li>
          {% include 'post-type/post/post-preview.twig' with {'post': post, 'classname': '' } only %}
        </li>
      {% endfor %}
    </ol>

  </div>

  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } only %}


</section>


{% endblock %}
