{% set post = Post(post) %}
{% set body_inverted = post.get_field('bg_inverted') or post.post_type == "post" %}
{% set body_classname = [] %}

{% if body_inverted %}
  {% set body_classname = body_classname|merge(['--bg-inverted']) %}
{% endif %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ACF Preview</title>
  <link rel="stylesheet" href="{{ stylesheet }}" type="text/css" media="all">
</head>
<body class="acf-block-preview {{ body_classname|join(" ") }}">
  <div data-windmill="wrapper">
    <div
      data-windmill="container"
      data-scroll-container
    >
      {{ content }}
    </div>
  </div>
  <script src="{{ js }}"></script>
</body>
</html>
