<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ACF Preview</title>
  <link rel="stylesheet" href="{{ stylesheet }}" type="text/css" media="all">
</head>
<body class="{{ body_class }} acf-preview">
  {% set template = "page-builder/" ~ post.acf_fc_layout ~ ".twig" %}
  {% include template with {'post': post, 'layout': post.acf_fc_layout, 'is_preview': is_preview } only %}
  <script src="{{ js }}"></script>
</body>
</html>
