{% block html_head_container %}
  {% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>
{% endblock %}

<body
  class="{{ body_class }} {% block body_extra_class %}{% endblock %}"
  data-template="base.twig"
>
  {% if options.gtm_code %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ options.gtm_code }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% include 'site-loader.twig' %}
  {% include 'site-transition.twig' %}

  <div data-windmill="wrapper">
    <div
      data-windmill="container"
      data-ui="gform,mouse-wheel-vimeo,mouse-wheel-youtube,mouse-wheel-facebook"
    >

      {% block header %}
        {% include 'site-header.twig' with {'menu': primary_navigation.get_items, 'site': site, 'options': options} only %}
        {% include 'site-nav.twig' with {'menu': primary_navigation.get_items, 'site': site, 'options': options} only %}
      {% endblock %}

      <main class="flex-grow-1" role="main">
        {% block content %}
          Sorry, no content :(
        {% endblock %}
      </main>

      {% block footer %}
        {# {% include 'partial/newsletter.twig' %} #}
        {% include 'site-footer.twig' %}
      {% endblock %}

      {# {% include 'site-search.twig' %} #}

    </div>
  </div>

  {# {% include 'site-video.twig' %} #}

  {{ function('wp_footer') }}
</body>
</html>
