{% block html_head_container %}
  {% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{ body_class }} {% block body_extra_class %}{% endblock %}" data-template="base.twig" data-ui="body">

  {% include 'site-loader.twig' %}
  {% include 'site-transition.twig' %}

  <div data-barba="wrapper" class="position-relative z-0">
    <div data-barba="container" data-barba-namespace="default-transition" data-ui="site-scroll,locomotive-scroll-vimeo" data-scroll-container>

      {% block header %}
        {% include 'site-header.twig' %}
        {% include 'site-nav.twig' %}
      {% endblock %}

      <main role="main {{sidebar_class}}">
        {% block content %}
          Sorry, no content :(
        {% endblock %}

        {% if sidebar %}
          <aside class="layout-sidebar">
            {{sidebar}}
          </aside>
        {% endif %}
      </main>

      {% block footer %}
        {% include 'site-footer.twig' %}
      {% endblock %}

      {% include 'site-search.twig' %}

    </div>
  </div>

  {{ function('wp_footer') }}
</body>
</html>
