{% extends "base.twig" %}

{% block content %}
<div class="p-30 min-vh-100" data-pb-row-keep-on-rocking-the-free-world>
  <h1 class="ff-heading">home.twig</h1>
  <h2 class="ff-heading">heading h2</h2>
  <h3 class="ff-heading">heading h3</h3>
  <h4 class="ff-heading">heading h4</h5>
  <h5 class="ff-heading">heading h5</h5>
  <h6 class="ff-heading">heading h6</h6>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laboriosam, quaerat minus soluta at similique ex corporis explicabo veniam maxime rerum cupiditate itaque vitae nihil, ut quibusdam voluptates doloremque totam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laboriosam, quaerat minus soluta at similique ex corporis explicabo veniam maxime rerum cupiditate itaque vitae nihil, ut quibusdam voluptates doloremque totam.
  </p>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Fugit ad accusantium praesentium.</li>
    <li>Vitae harum voluptate eius est quis exercitationem.</li>
  </ul>
</div>

<div class="container-fluid">
  <h3 class="ff-heading">Test get_post(1) and search('hello') functions :</h3>

  {% set posts = get_posts(1) %}
  {% set search = search('hello') %}

  <pre class="bg-gray-100 fz-12 overflow-hidden p-10">
    {{ dump(posts) }}
  </pre>

  <pre class="bg-gray-100 fz-12 overflow-hidden p-10">
    {{ dump(search) }}
  </pre>

</div>

<div class="container-fluid">
  <h3 class="ff-heading">Test page-section functions :</h3>
</div>

{{ PageSection('should-not-be-found') }}

{% endblock %}
