{% extends "base.twig" %}

{% block head %}
<style type="text/css">
  .styleguide-title  {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 30px 0;
  }
  .styleguide-subtitle {
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 500;
    margin: 60px 0 30px 0;
  }
  .styleguide-row:not(.flex-column) {
    margin: 0 -15px;
  }

  .styleguide-color {
    flex: 0 1 100px;
    width: 100px;
    height: 35px;
    margin: 0 15px 30px 15px;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgba(179, 179, 179, 0.4);
  }

  .styleguide-font {
    position: relative;
    margin: 0 0 30px 0;
  }
  .styleguide-font:last-child { margin-bottom: 0; }
  .styleguide-font:empty::before {
    content: "The quick brown fox jumps over the lazy dog";
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .styleguide-font[data-label]::after {
    color: #a4a4a4 !important;
    font-family: monospace;
    font-size: 10px !important;
    padding-top: 0 !important;
  }

  .styleguide [data-label] { position: relative; }
  .styleguide [data-label]::after {
    content: attr(data-label);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 6px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
    color: #2c2c2c;
  }
</style>
{% endblock %}

{% block content %}
	<div class="content-wrapper bg-color-white">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="styleguide pt-90 pb-90 pl-30 pr-30">
				<h1 class="styleguide-title">{{post.title}}</h1>

        <!-- Colors -->
				<div class="d-flex flex-column">

					<aside class="w-100">
						<h2 class="styleguide-subtitle">Thème de couleurs</h2>
						<div class="styleguide-row d-flex">
							<div class="styleguide-color bg-color-black" data-label="Black" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-white" data-label="White" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-gray" data-label="Gray" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-primary" data-label="Primary" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-secondary" data-label="Secondary" data-ignore-css-empty></div>
						</div>
					</aside>

				</div>

        <!-- Font-family & Font-style -->
				<div class="d-grid grid-column-lg-2">

					<aside>
						<h2 class="styleguide-subtitle">Police de caractère</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font heading-h1">Serif</div>
						</div>
					</aside>

					<aside>
						<h2 class="styleguide-subtitle">Graisses</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font fw-300">Light (300)</div>
							<div class="styleguide-font fw-300 fs-italic">Light Italic</div>
							<div class="styleguide-font fw-400">Regular (400)</div>
							<div class="styleguide-font fw-400 fs-italic">Regular Italic</div>
						</div>
					</aside>

				</div>
        <div class="d-grid grid-column-lg-2 pt-50">

					<aside>
						<h2 class="styleguide-subtitle">Police de caractère</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font heading-h1">Sans-Serif</div>
						</div>
					</aside>

					<aside>
						<h2 class="styleguide-subtitle">Graisses</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font fw-300">Light (300)</div>
							<div class="styleguide-font fw-300 fs-italic">Light Italic</div>
							<div class="styleguide-font fw-400">Regular (400)</div>
							<div class="styleguide-font fw-400 fs-italic">Regular Italic</div>
						</div>
					</aside>

				</div>

        <!-- Buttons -->
				<h2 class="styleguide-subtitle">Boutons</h2>
				<div class="d-flex">
					<div class="d-flex align-items-center p-10">
						{% include 'partial/button.twig' with {'title': 'Bouton CTA', 'style': 'cta'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray)', 'style': 'cta', 'variation': 'gray', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light)', 'style': 'cta', 'variation': 'gray-light', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white)', 'style': 'cta', 'variation': 'white', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (opaque)', 'style': 'cta', 'variation': 'opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray, opaque)', 'style': 'cta', 'variation': 'gray opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light, opaque)', 'style': 'cta', 'variation': 'gray-light opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white, opaque)', 'style': 'cta', 'variation': 'white opaque', 'classname': 'ml-10'} only %}
					</div>
				</div>
				<div class="d-flex">
					<div class="d-flex align-items-center p-10 bg-color-black">
						{% include 'partial/button.twig' with {'title': 'Bouton CTA', 'style': 'cta'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray)', 'style': 'cta', 'variation': 'gray', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light)', 'style': 'cta', 'variation': 'gray-light', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white)', 'style': 'cta', 'variation': 'white', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (opaque)', 'style': 'cta', 'variation': 'opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray, opaque)', 'style': 'cta', 'variation': 'gray opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light, opaque)', 'style': 'cta', 'variation': 'gray-light opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white, opaque)', 'style': 'cta', 'variation': 'white opaque', 'classname': 'ml-10'} only %}
					</div>
				</div>


			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
