{% extends "base.twig" %}

{% block content %}
<div class="single single-{{ post.post_type }}" id="page-{{ post.ID }}">
  {{ post.content }}
  {# {% include 'page-builder/index.twig' with { 'post': post } only %} #}
</div>
{% endblock %}
