{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper bg-color-white">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="styleguide pt-90 pb-90 pl-30 pr-30">
				<h1 class="styleguide-title">{{post.title}}</h1>

        <!-- Colors -->
				<div class="d-flex flex-column">

					<aside class="w-100">
						<h2 class="styleguide-subtitle">Thème de couleurs</h2>
						<div class="styleguide-row d-flex">
							<div class="styleguide-color bg-color-black" data-label="Black" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-white" data-label="White" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-gray" data-label="Gray" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-primary" data-label="Primary" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-secondary" data-label="Secondary" data-ignore-css-empty></div>
						</div>
					</aside>

				</div>

        <!-- Font-family & Font-style -->
				<div class="d-grid grid-column-lg-2">

					<aside>
						<h2 class="styleguide-subtitle">Police de caractère</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font heading-h1">Serif</div>
						</div>
					</aside>

					<aside>
						<h2 class="styleguide-subtitle">Graisses</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font fw-300">Light (300)</div>
							<div class="styleguide-font fw-300 fs-italic">Light Italic</div>
							<div class="styleguide-font fw-400">Regular (400)</div>
							<div class="styleguide-font fw-400 fs-italic">Regular Italic</div>
						</div>
					</aside>

				</div>
        <div class="d-grid grid-column-lg-2 pt-50">

					<aside>
						<h2 class="styleguide-subtitle">Police de caractère</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font heading-h1">Sans-Serif</div>
						</div>
					</aside>

					<aside>
						<h2 class="styleguide-subtitle">Graisses</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font fw-300">Light (300)</div>
							<div class="styleguide-font fw-300 fs-italic">Light Italic</div>
							<div class="styleguide-font fw-400">Regular (400)</div>
							<div class="styleguide-font fw-400 fs-italic">Regular Italic</div>
						</div>
					</aside>

				</div>

        <!-- Buttons -->
				<h2 class="styleguide-subtitle">Boutons</h2>
				<div class="d-flex">
					<div class="d-flex align-items-center p-10">
						{% include 'partial/button.twig' with {'title': 'Bouton CTA', 'style': 'cta'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray)', 'style': 'cta', 'variation': 'gray', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light)', 'style': 'cta', 'variation': 'gray-light', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white)', 'style': 'cta', 'variation': 'white', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (opaque)', 'style': 'cta', 'variation': 'opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray, opaque)', 'style': 'cta', 'variation': 'gray opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light, opaque)', 'style': 'cta', 'variation': 'gray-light opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white, opaque)', 'style': 'cta', 'variation': 'white opaque', 'classname': 'ml-10'} only %}
					</div>
				</div>
				<div class="d-flex">
					<div class="d-flex align-items-center p-10 bg-color-black">
						{% include 'partial/button.twig' with {'title': 'Bouton CTA', 'style': 'cta'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray)', 'style': 'cta', 'variation': 'gray', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light)', 'style': 'cta', 'variation': 'gray-light', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white)', 'style': 'cta', 'variation': 'white', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (opaque)', 'style': 'cta', 'variation': 'opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray, opaque)', 'style': 'cta', 'variation': 'gray opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light, opaque)', 'style': 'cta', 'variation': 'gray-light opaque', 'classname': 'ml-10'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white, opaque)', 'style': 'cta', 'variation': 'white opaque', 'classname': 'ml-10'} only %}
					</div>
				</div>


			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
