{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper bg-color-white" data-scroll-section>
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="styleguide py-8 px-4">
				<h1 class="styleguide-title">{{post.title}}</h1>

        <!-- Colors -->
				<div class="d-flex flex-column">

					<aside class="w-100">
						<h2 class="styleguide-subtitle">Thème de couleurs</h2>
						<div class="styleguide-row d-flex">
							<div class="styleguide-color bg-color-black" data-label="Black" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-white" data-label="White" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-gray" data-label="Gray" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-primary" data-label="Primary" data-ignore-css-empty></div>
							<div class="styleguide-color bg-color-secondary" data-label="Secondary" data-ignore-css-empty></div>
						</div>
					</aside>

				</div>

        <!-- Font-family & Font-style -->
				<div class="d-grid grid-column-lg-2">

					<aside>
						<h2 class="styleguide-subtitle">Police de caractère</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font heading-h1">Serif</div>
						</div>
					</aside>

					<aside>
						<h2 class="styleguide-subtitle">Graisses</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font fw-300">Light (300)</div>
							<div class="styleguide-font fw-300 fs-italic">Light Italic</div>
							<div class="styleguide-font fw-400">Regular (400)</div>
							<div class="styleguide-font fw-400 fs-italic">Regular Italic</div>
						</div>
					</aside>

				</div>
        <div class="d-grid grid-column-lg-2 pt-6">

					<aside>
						<h2 class="styleguide-subtitle">Police de caractère</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font heading-h1">Sans-Serif</div>
						</div>
					</aside>

					<aside>
						<h2 class="styleguide-subtitle">Graisses</h2>
						<div class="styleguide-row d-flex flex-column ff-body">
							<div class="styleguide-font fw-300">Light (300)</div>
							<div class="styleguide-font fw-300 fs-italic">Light Italic</div>
							<div class="styleguide-font fw-400">Regular (400)</div>
							<div class="styleguide-font fw-400 fs-italic">Regular Italic</div>
						</div>
					</aside>

				</div>

        <!-- Headings -->
				<h2 class="styleguide-subtitle">Grosseur des H1-6</h2>
				<div class="styleguide-row d-flex flex-column">
					<h1 class="styleguide-font ff-heading fw-200" data-label="H1" data-ignore-css-empty></h1>
					<h2 class="styleguide-font ff-heading fw-200" data-label="H2" data-ignore-css-empty></h2>
					<h3 class="styleguide-font ff-heading fw-200" data-label="H3" data-ignore-css-empty></h3>
					<h4 class="styleguide-font ff-heading fw-200" data-label="H4" data-ignore-css-empty></h4>
					<h5 class="styleguide-font ff-heading fw-200" data-label="H5" data-ignore-css-empty></h5>
					<h6 class="styleguide-font ff-heading fw-200" data-label="H6" data-ignore-css-empty></h6>
				</div>

        <!-- Font-size -->
				<h2 class="styleguide-subtitle">Grosseur des polices - Desktop</h2>
				<div class="styleguide-row d-flex flex-column">
					<div class="styleguide-font fz-30" data-label="30px" data-ignore-css-empty></div>
					<div class="styleguide-font fz-24" data-label="24px" data-ignore-css-empty></div>
					<div class="styleguide-font fz-20" data-label="20px" data-ignore-css-empty></div>
					<div class="styleguide-font fz-base" data-label="18px - texte courant" data-ignore-css-empty></div>
					<div class="styleguide-font fz-16" data-label="16px" data-ignore-css-empty></div>
					<div class="styleguide-font fz-14" data-label="14px" data-ignore-css-empty></div>
					<div class="styleguide-font fz-12" data-label="12px" data-ignore-css-empty></div>
				</div>

        <!-- Buttons -->
				<h2 class="styleguide-subtitle">Boutons</h2>
				<div class="d-flex">
					<div class="d-flex align-items-center p-2">
						{% include 'partial/button.twig' with {'title': 'Bouton CTA', 'style': 'cta'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray)', 'style': 'cta', 'variation': 'gray', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light)', 'style': 'cta', 'variation': 'gray-light', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white)', 'style': 'cta', 'variation': 'white', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (opaque)', 'style': 'cta', 'variation': 'opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray, opaque)', 'style': 'cta', 'variation': 'gray opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light, opaque)', 'style': 'cta', 'variation': 'gray-light opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white, opaque)', 'style': 'cta', 'variation': 'white opaque', 'classname': 'ml-2'} only %}
					</div>
				</div>
				<div class="d-flex">
					<div class="d-flex align-items-center p-2 bg-color-black">
						{% include 'partial/button.twig' with {'title': 'Bouton CTA', 'style': 'cta'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray)', 'style': 'cta', 'variation': 'gray', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light)', 'style': 'cta', 'variation': 'gray-light', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white)', 'style': 'cta', 'variation': 'white', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (opaque)', 'style': 'cta', 'variation': 'opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray, opaque)', 'style': 'cta', 'variation': 'gray opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light, opaque)', 'style': 'cta', 'variation': 'gray-light opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white, opaque)', 'style': 'cta', 'variation': 'white opaque', 'classname': 'ml-2'} only %}
					</div>
				</div>
				<div class="d-flex">
					<div class="d-flex align-items-center p-2 bg-color-pink">
						{% include 'partial/button.twig' with {'title': 'Bouton CTA', 'style': 'cta'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray)', 'style': 'cta', 'variation': 'gray', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light)', 'style': 'cta', 'variation': 'gray-light', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white)', 'style': 'cta', 'variation': 'white', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (opaque)', 'style': 'cta', 'variation': 'opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray, opaque)', 'style': 'cta', 'variation': 'gray opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (gray-light, opaque)', 'style': 'cta', 'variation': 'gray-light opaque', 'classname': 'ml-2'} only %}
						{% include 'partial/button.twig' with {'title': 'CTA (white, opaque)', 'style': 'cta', 'variation': 'white opaque', 'classname': 'ml-2'} only %}
					</div>
				</div>


			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
