{% extends "base.twig" %}

{# remove footer for this demo #}
{% block footer %}{% endblock %}

{% block head %}
<style type="text/css">
  .mill3-images-sequence { height: 6000px; }
  .mill3-images-sequence__box {
    width: 50vh;
    height: 100%;
    max-width: min(500px, 100%);
    max-height: min(1000px, 100%);
  }
</style>
{% endblock %}

{% block content %}
<article class="mill3-images-sequence">

  <div 
    class="position-fixed t-0 l-0 w-100 vh-100 d-flex align-items-center justify-content-center"
    data-scroll
    data-scroll-call="scrolling-images-sequence"
    data-scroll-repeat="true"
    data-scroll-target=".mill3-images-sequence"
    data-module="scrolling-images-sequence"
    data-scrolling-images-sequence="false"
  >
    <div class="mill3-images-sequence__box position-relative">
      <canvas class="mill3-images-sequence__canvas position-absolute t-0 l-0 w-100 h-100"></canvas>
    </div>

    <picture class="position-absolute t-0 l-0 d-block w-100 visibility-hidden m-0 p-0">
      <source srcset="https://mill3-vercel-dropbox.vercel.app/images-sequence-demo/0001-mobile.webp" media="(max-width: 767px)" type="image/webp">
      <source srcset="https://mill3-vercel-dropbox.vercel.app/images-sequence-demo/0001.webp" type="image/webp">
      <source srcset="https://mill3-vercel-dropbox.vercel.app/images-sequence-demo/0001.png" media="(max-width: 767px)">
      <source srcset="https://mill3-vercel-dropbox.vercel.app/images-sequence-demo/0001.png">
      <img src="https://mill3-vercel-dropbox.vercel.app/images-sequence-demo/0001.png" alt="MILL3 Images Sequence Demo">
    </picture>
  </div>

</article>
{% endblock %}
