{% extends "base.twig" %}

{% block content %}
<div class="single-password container-fluid pb-100">

  <header class="mb-40 mb-lg-140">
    <h1 class="single-password__title m-0">{{ __("This page is password protected", "mill3wp") }}</h1>
  </header>

	<form class="single-password__form d-grid grid-gap-10" action="{{ form_action }}" method="post">
		<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
    {% include 'partial/button.twig' with {
      'title': "Submit",
      'style': 'cta',
      'attributes': ['type="submit"', 'name="Submit"']
    } only %}
	</form>

</div>
{% endblock %}
