<div
  class="site-transition d-flex justify-content-center align-items-center position-fixed t-0 l-0 w-100 z-10000 bg-color-white overflow-clip visibility-hidden pointer-events-none"
  aria-hidden="true"
  data-site-transition
>
</div>
