<header
  class="site-header position-fixed z-9000 t-0 l-0 w-100 vh-100 pointer-events-none overflow-hidden"
  data-site-header
  data-ui="site-header"
>
  <div class="site-header__wrap d-flex justify-content-between align-items-center w-100 pt-10 pt-lg-20 pb-10 pb-lg-20 pl-20 pl-lg-90 pr-20 pr-lg-90 fz-xs">

    <figure class="site-header__logo m-0 p-0 pointer-events-all" role="banner">
      <a
        class="site-header__logoLink d-block w-100 color-current td-none"
        href="{{ site.url }}"
        rel="home"
        title="{{ site.name }}"
      >{{ site.name }}</a>
    </figure>

    <nav id="nav-main" class="site-header__nav pointer-events-all" role="navigation">
      {% include "menu.twig" with {'menu': menu, 'classname': 'site-header__menu list-none m-0 p-0'} only %}
    </nav>

    <button
      class="site-header__burger position-relative d-lg-none color-current pointer-events-all"
      type="button"
      aria-label="{{ __('Menu', 'mill3wp') }}"
      aria-controls="site-nav"
      aria-expanded="false"
    >
      <span class="position-absolute t-0 l-0 w-100" aria-hidden="true" data-ignore-css-empty></span>
      <span class="position-absolute t-50 l-0 w-100" aria-hidden="true" data-ignore-css-empty></span>
      <span class="position-absolute b-0 l-0 w-100" aria-hidden="true" data-ignore-css-empty></span>
    </button>

  </div>

</header>

<div class="site-header__spacer w-100 visibility-hidden" data-scroll-section aria-hidden="true"></div>
