<nav aria-hidden="true" id="site-search" class="site-search position-fixed t-0 r-0 z-3000 vh-100 vw-100">

  <div class="site-search__wrap position-relative container-fluid bg-color-white">

    <form action="." class="site-search__form">
      <div class="site-search__form__inner pl-lg-8">
        <div class="site-search__form__input__container"></div>
        <span class="site-search__form__underline"></span>
      </div>
    </form>

    <div class="site-search__hits d-none" data-visible-on-search>

      <header class="site-search__hits_header pt-6 pb-4 pt-lg-8 pb-lg-6 d-md-flex align-items-center">
        <h3 class="site-search__title ff-serif fz-6xl fw-300 lh-xl tt-uppercase m-0 mb-2">Résultats de recherche</h3>
        <p class="site-search__stats ml-auto fw-300 fz-xs tt-uppercase mt-0 mb-4 mb-xl-0"></p>
      </header>

      <div class="site-search__hits__grid">
        {# results here #}
      </div>

      <div class="site-search__pagination"></div>

    </div>

  </div>

</nav>
