<div
  class="site-loader d-flex justify-content-center align-items-center position-fixed t-0 l-0 w-100 vh-100 min-vh-100 z-10000 overflow-clip bg-color-black color-white"
  aria-hidden="true"
  data-site-loader
>
  <div class="site-loader__logo">
    {{ site.name }}
  </div>
</div>
