<footer
  class="site-footer"
  data-scroll-section
>

  <nav class="site-footer__nav">
    {% include 'menu.twig' with { 'menu': footer_navigation.get_items, 'classname': 'site-footer__menu list-none m-0 p-0' } only %}
  </nav>

  <p class="site-footer__credits m-0 p-0 ta-right">
    {% include 'partial/credits.twig' %}
  </p>

</footer>
