{% set gdpr = options.gdpr %}

<footer class="site-footer container-fluid pt-40 pb-40 pt-xl-80 pb-xl-80 bg-color-black color-white">


  <div class="site-footer__wrapper d-grid grid-column-3">
    <nav class="site-footer__nav">
      {% include 'menu.twig' with { 'menu': footer_navigation.items, 'classname': 'site-footer__menu list-none m-0 p-0' } only %}
    </nav>

    <nav class="site-footer__languages">
      {# {{ language_switcher() }} #}
    </nav>

    <p class="site-footer__credits m-0 p-0 ta-right">
      {% include 'partial/credits.twig' %}
    </p>
  </div>

  {% if gdpr.active %}
  <div class="site-footer__gdpr pt-3">
    <button aria-controls="#gdpr" class="site-footer__toggleGDPR fz-12 d-inline-block ta-left" style="--index: 5;">{{ __("Cookies preferences") }}</button>
  </div>
  {% endif %}

</footer>
