<div
  class="site-transition d-flex justify-content-center align-items-center position-fixed t-0 l-0 w-100 vh-100 min-vh-100 z-10000 overflow-hidden visibility-hidden pointer-events-none"
  aria-hidden="true"
  data-ignore-css-empty
  data-site-transition
>
</div>
