@charset "utf-8";

// variables
@import "vars/index";

// NPM packages
@import "~@mill3-packages/system-ui-sass/src/system-ui.scss";
// @import "~@mill3-packages/system-ui-sass/dist/system-ui.css";
@import "~sass-easing";
@import "~locomotive-scroll/dist/locomotive-scroll.min.css";
@import "~swiper/swiper.scss";
@import "~swiper/components/pagination/pagination.scss";

// vendors
@import "vendors/index";

/*** THEME SPECIFICS ***/

// mixins
@import "mixins/index";

// commons
@import "commons/index";

// modules
@import "modules/index";

// page builder
@import "page-builder/index";

// content types
@import "post-type/index";

// taxonomies
@import "taxonomy/index";

// layouts
@import "layouts/index";

// UI
@import "ui/index";
