@charset "utf-8";

// variables
@import "vars/index";

// NPM packages
@import "@mill3-packages/system-ui-sass/src/system-ui";
@import "~sass-easing";
@import "~locomotive-scroll/dist/locomotive-scroll.min.css";
@import "~flickity";

// vendors
@import "vendors/index";

/*** THEME SPECIFICS ***/

// mixins
@import "mixins/index";

// commons
@import "commons/index";

// modules
@import "modules/index";

// page builder
@import "page-builder/index";

// content types
@import "post-type/posts/index";

// layouts
@import "layouts/index";

// UI
@import "ui/index";
