/* purgecss start ignore */
@charset "utf-8";

@use "@mill3-sass-mixins/spacers";
@use "@mill3-sass-mixins/colors";
@use "@mill3-sass-mixins/typography";
@use "@mixins/wysiwyg";

@use "@mill3-sass/cssvars" as *;
@use "@mill3-sass/classes_generators/_base-elements" as *;
@use "@mill3-sass/classes_generators/_colors" as *;

@use "commons/fonts";

body.mce-content-body {
  --body-text-color: #{colors.color(color-black)};
  color: var(--body-text-color);
  padding-left: spacers.spacer(10) !important;
  padding-right: spacers.spacer(10) !important;
  font-family: typography.font-family(body);
  font-size: typography.font-size(base);

  a {
    color: currentColor;
  }

  @include wysiwyg.wysiwyg;
}

//
// Gutenberg editor page title input
//

.wp-block-post-title {
  padding-bottom: spacers.spacer(40) !important;
  margin-bottom: spacers.spacer(40) !important;
  border-bottom: 1px solid #000 !important;
  font-weight: 300;
}

//
// Gutenberg each block
//
html :where(.wp-block) {
  max-width: 1440px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-family: typography.font-family(body);
}

// add some space between each block editor
.block-editor-block-list__block.wp-block.is-selected {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
/* purgecss end ignore */
