@charset "utf-8";

@import "~@mill3-packages/system-ui-sass/src/mixins/index";
@import "~@mill3-packages/system-ui-sass/src/cssvars/index";
// @import "~@mill3-packages/system-ui-sass/src/modules/index";
@import "~@mill3-packages/system-ui-sass/src/modules/colors";
@import "~@mill3-packages/system-ui-sass/src/modules/boxes";
@import "~@mill3-packages/system-ui-sass/src/modules/display";
@import "~@mill3-packages/system-ui-sass/src/modules/flex";
@import "~@mill3-packages/system-ui-sass/src/modules/grid";
@import "~@mill3-packages/system-ui-sass/src/modules/list";
@import "~@mill3-packages/system-ui-sass/src/modules/overflow";
@import "~@mill3-packages/system-ui-sass/src/modules/visibility";
@import "~@mill3-packages/system-ui-sass/src/modules/pointer-events";
@import "~@mill3-packages/system-ui-sass/src/modules/position";
@import "~@mill3-packages/system-ui-sass/src/modules/sizings";
@import "~@mill3-packages/system-ui-sass/src/modules/spacers";
@import "~@mill3-packages/system-ui-sass/src/modules/typography";
@import "~@mill3-packages/system-ui-sass/src/modules/z-index";

// easing
@import "~sass-easing";

// mixins
@import "mixins/index";

// commons
@import "commons/fonts";

// page builder
@import "page-builder/index";

// variables
@import "vars/index";

body.mce-content-body {
  background-color: var(--color-white) !important;
  color: var(--color-black) !important;
  padding-left: spacer(30) !important;
  padding-right: spacer(30) !important;
  @include wysiwyg;
}

.acf-block-preview-wrap {

  // basic commons
  @import "commons/base-elements";
  @import "commons/buttons";
  @import "commons/containers";
  @import "commons/embed";
  @import "commons/facebook-video";
  @import "commons/form";
  @import "commons/images";
  @import "commons/svgs";
  @import "commons/swiper";
  @import "commons/videos";
  @import "commons/wysiwyg";

  font-family: font-family("body");
  font-size: font-size("base");
  line-height: line-height("base");

  h1:not([class*="fz-"]) {
    font-size: heading("h1");
  }

  h2:not([class*="fz-"]) {
    font-size: heading("h2");
  }

  h3:not([class*="fz-"]) {
    font-size: heading("h3");
  }

  h4:not([class*="fz-"]) {
    font-size: heading("h4");
  }

  h5:not([class*="fz-"]) {
    font-size: heading("h5");
  }

  h6:not([class*="fz-"]) {
    font-size: heading("h6");
  }
}

html :where(.wp-block) {
  max-width: 1440px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-family: font-family("body");
}

.wp-block-post-title {
  font-family: font-family("heading");
  padding-bottom: spacer(40) !important;
  margin-bottom: spacer(40) !important;
  border-bottom: 1px solid #000;
  font-weight: 300;
}

