{% set label = label|default(__('Credits', 'mill3wp')) %}
<a
  class="mill3 d-grid td-none overflow-clip color-current {{ classname }}"
  href="https://mill3.studio/"
  target="_blank"
  rel="noopener"
  title="{{ label }} - MILL3"
  aria-label="{{ label }} - MILL3"
  data-windmill-prevent
>
  <span class="mill3__label" aria-hidden="true">{{ label }}</span>
  <span class="mill3__credits" aria-hidden="true">MILL3</span>
</a>
