<header
  class="text-ticker d-flex flex-nowrap align-items-center overflow-hidden"
  data-module="text-ticker"
  data-text-ticker
>
  <h3 class="text-ticker__text m-0 p-0">{{ text }}</h3>
  <h3 class="text-ticker__text m-0 p-0" aria-hidden="true">{{ text }}</h3>
</header>
