{% extends 'page-builder/blog-wrapper.twig' %}
{#
  Title: Blog Text Simple
  Description: Simple text with optional title
  Category: blog
  Icon: editor-paragraph
  Keywords: blog text simple
  Mode: edit
  PostTypes: post
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  Example: { "title": "Blog Text simple" }
#}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}
{% set udid = udid|default('blog-text-simple-' ~ random()) %}

{% set text = fields.text %}

{% block blog_row_wrapper %}
<div
  id="{{ udid }}"
  class="blog-text-simple {{ classname }}"
  data-scroll
  data-scroll-offset="100px,0"
  {{ attributes|join(' ') }}
>
  <div class="blog-text-simple__text fz-16 fz-md-18 fz-lg-19 lh-relaxed wysiwyg">
    {{ text }}
  </div>
</div>
{% endblock %}
