{% extends 'page-builder/block-wrapper.twig' %}
{#
  Title: FAQ
  Description: FAQ
  Category: theme
  Icon: info
  Keywords: faq frequently ask questions answers
  Mode: edit
  PostTypes: page page_section
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  Example: { "title": "FAQ" }
#}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}
{% set udid = udid|default('pb-row-faq-' ~ random()) %}

{% set title = fields.title|default(null) %}
{% set text = fields.text|default(null) %}
{% set faqs = fields.faqs|default(null) %}


{% block row_wrapper %}
<div
  id="{{ udid }}"
  class="pb-row pb-row-faq container-fluid {{ classname }}"
  {{ attributes|join(' ') }}
  data-scroll
  data-scroll-offset="100px,0"
  data-module-delay
>
  {% include 'partial/accordions.twig' with {
    'accordions': accordions,
    'udid': udid,
    'classname': 'pb-row-faq__faq',
    'attributes': [
      'data-scroll-target="#'~ udid ~'"'
    ]
  } only %}
</div>
{% endblock %}
