{% extends 'page-builder/block-wrapper.twig' %}
{#
  Title: Testimonials
  Description: Testimonials
  Category: theme
  Icon: testimonial
  Keywords: testimonials quotes
  Mode: edit
  PostTypes: page page_section
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  Example: { "title": "Testimonials" }
#}

{% set post = Post(fields) %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}
{% set udid = udid|default('pb_row_testimonials-' ~ random()) %}

{% set title = post.get_field('title')|default(null) %}

{% set testimonials = post.testimonials|default([]) %}

{% block row_wrapper %}
<section
  id="{{ udid }}"
  class="pb-row pb-row-testimonials {{ classname|join(' ') }}"
  {{ attributes|join(' ') }}
>

</section>
{% endblock %}
