{% extends 'page-builder/block-wrapper.twig' %}
{#
  Title: Accordions
  Description: Accordions
  Category: theme
  Icon: feedback
  Keywords: accordion
  Mode: edit
  PostTypes: page page_section post
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  Example: { "title": "Accordions" }
#}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}
{% set udid = udid|default('pb_row_accordions-' ~ random()) %}

{% set title = fields.title %}
{% set accordions = fields.accordions %}

{% block row_wrapper %}
<div
  id="{{ udid }}"
  class="pb-row pb-row-accordions container-fluid {{ classname }}"
  data-scroll
  data-scroll-offset="200px,0"
  data-module-delay
  {{ attributes|join(' ') }}
>

  {% include 'partial/accordions.twig' with {
    'accordions': accordions,
    'classname': 'pb-row-accordions__accordions',
    'attributes': [
      'data-scroll-target="#'~ udid ~'"',
      'data-scroll-offset="200px,0"',
    ]
  } only %}

</div>
{% endblock %}
