{% extends 'page-builder/pb_row_wrapper.twig' %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}
{% set udid = udid|default('pb-row-tabs-' ~ random()) %}

{% block row_wrapper %}
<section 
  class="pb-row pb-row-tabs container-fluid {{ classname }}"
  data-module="pb-row-tabs"
  data-pb-row-tabs
  {{ attributes|join(' ') }}
>
  
  {% include 'partial/tab-list.twig' with {
    'tabs': [
      {'title': 'Lorem ipsum', 'controls': udid ~ '-lorem', 'selected': true},
      {'title': 'Bacon ipsum', 'controls': udid ~ '-bacon', 'selected': false},
    ],
    'classname': 'pb-row-tabs__tablist mb-40'
  } only %}

  {% set lorem_ipsum %}
    <h2 class="m-0">Lorem ipsum</h2>
    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales nec ante sit amet auctor. Etiam id nisl mauris. Donec vitae velit dapibus, volutpat enim sit amet, condimentum odio. Sed et ipsum sapien. Cras malesuada, nisl ac hendrerit sollicitudin, eros neque egestas libero, eu mollis turpis dui sit amet arcu. Integer pellentesque dui eu est aliquam ullamcorper a quis turpis. Proin vel augue eleifend, ullamcorper neque quis, finibus leo. Phasellus sed lacinia massa. Proin at imperdiet arcu, eget lacinia quam. Vivamus auctor porta lectus quis dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
  {% endset %}

  {% set bacon_ipsum %}
    <h2 class="m-0">Bacon ipsum</h2>
    <p class="m-0">Bacon ipsum dolor amet meatloaf landjaeger filet mignon fatback tenderloin chicken. Venison pork cow, chuck hamburger chislic pastrami meatball. Kielbasa doner chicken tongue burgdoggen brisket boudin bacon leberkas ground round cupim pork belly. Jowl short loin shankle turkey pastrami shank bresaola hamburger buffalo t-bone sirloin andouille. Turducken swine kielbasa tongue jowl drumstick.</p>
  {% endset %}

  {% include 'partial/tab-panel.twig' with {
    'content': lorem_ipsum,
    'udid': udid ~ '-lorem',
    'hidden': false,
    'classname': 'pb-row-tabs__panel'
  } only %}

  {% include 'partial/tab-panel.twig' with {
    'content': bacon_ipsum,
    'udid': udid ~ '-bacon',
    'hidden': true,
    'classname': 'pb-row-tabs__panel'
  } only %}

</section>
{% endblock %}
